@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');


*, *::after{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root{
    --primary-darkblue: hsl(243, 87%, 12%);
    --primary-blue: hsl(238, 22%, 44%);
    --accent-blue: hsl(224, 93%, 58%);
    --accent-cyan: hsl(170, 45%, 43%);
    --neutral-blue: hsl(240, 75%, 98%);
    --neutral-gray: hsl(0, 0%, 75%);
}


body{
    font-family: 'Open Sans', sans-serif;
}


h1, h2, h3, a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

button:focus, input:focus{
    outline: none;
}

ul{
    list-style: none;
}

img{
    display: block;
    height: auto;
    width: 100%;
}


button{
    background-color: var(--accent-blue);
    color: #fff;
    font-size: 0.8rem;
    padding: 0.9rem 2rem;
    border: 0;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}
button:hover{
    transform: scale(1.2);
}






header{
    background-color: transparent;
    padding: 2rem 4rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

header .logo{
    width: 40%;
}

header nav{
    align-self: center;
    text-align: right;
}

nav li{
    display: inline;
    padding: 0 2rem;
}

nav a{
    font-size: 0.8rem;
    color: var(--primary-darkblue);
    transition: all 0.3s ease;
}

nav a:hover{
    color: var(--accent-blue);
}




#showcase{
    width: 80%;
    text-align: center;
    margin: auto;
}

.showcase_inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 1rem;
}

.showcase_inner img{
    margin-bottom: 2rem;
}

.showcase_inner p{
    font-size: 0.9rem;
    margin: 2rem 0;
}

.showcase_inner input{
    padding: 0.8rem;
    border: 1px solid var(--primary-blue);
    border-radius: 0.2rem;
}

.showcase_inner .text{
    align-self: center;
}







#team{
    width: 80%;
    margin: auto;
    padding: 4rem 0 8rem 0;
}

.team_inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 3rem;
    padding: 4rem;
}

.team_inner .text{
    align-self: center;
}

.team_inner .text h3{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.team_inner .text p{
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.team_inner .text a{
    display: inline-block;
    position: relative;
    color: var(--CTA-color);
    text-decoration: underline;
    font-size: 0.9rem;
}

.team_inner .text img{
    position: absolute;
    right: -30px;
    bottom: -2px;
    display: inline-block;
    margin-left: 1rem;
    width: 15%;
}











/* footer */

footer{
    position: relative;
    background-color: var(--primary-darkblue);
    padding: 8rem 0 4rem 0;
}

.footer_inner{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0 2rem;
    padding-top: 8rem;
}

.footer_inner .home img{
    width: 50%;
    margin-bottom: 1rem;
}

.footer_inner .home p{
    font-size: 0.8rem;
    color: #aaa;
}

.footer_inner li{
    font-size: 0.8rem;
    color: #aaa;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}
.footer_inner li:hover{
    color: var(--white);
}


.footer_inner li img{
    display: inline;
    width: 10%;
}

.footer_inner li span{
    margin-left: 1rem;
}


.social li{
    display: inline;
    margin: 0;
    padding: 0 1rem;
}
